.DS_Store
**/__pycache__/**
.vscode/*
.venv/*
results/*
Identity_opt_data/*
original_data/*
results_with_swap/*
circuit_data/*
.*qasm
.*pickle
paper_mcr/*
quantum-circuit-optimization/*
input_data/*
external_data/*
# mcr_opt_dev.ipynb
# opt_using_mcr.py
pbse/*
pbso/*
tmp/*